
img{
    margin-top: 100px;
    margin-right: 150px;
    height: 250px;
    width: 300px;
    
}
.container{
    background-color: rgb(13, 108, 135);
}
h3{
    margin-top: 150px;
    margin-left: 200px;
    color: rgb(236, 217, 217);
    
}
footer{
    margin-top: 300px;
    margin-bottom: 20px;
    color:white;
    
        
}
object{
    height: 1500px;
    width: 1500px;
    background-color: rgb(167, 172, 172);
}


